<!DOCTYPE html>
<html>
<head>
    <title>APK Package Changer Proof-of-Concept - File Uploaded</title>
    <script language="JavaScript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script language="JavaScript" src="/static/js/waiting.js"></script>
    <style>
        #ellipsis {
            font-weight: bold;
        }
    </style>
</head>
<h1 id="loading">We are now processing your file... Your link will automatically appear when ready<span id="ellipsis"></span></h1>
<input type="hidden" id="uuid" value="{{ filename }}">
</body>
</html>